.navbar {

    padding: 1rem 1.5rem;
    width: 100%;
    position: fixed;
    background-color: var(--background-color);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    z-index: 999;
}

.nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: black;
}

.nav-link:hover {
    color: rgb(138, 137, 137);
}



.logo span {
    color: #0284FA;
}

.nav-link {
    display: flex;
    gap: 3rem;
}

.nav-desktop .button-link a {
    color: var(--button-color);
}

.nav-mobile {
    display: none;
}

@media (max-width: 820px) {
    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-mobile-open {
        display: flex;
        
        background-color: var(--background-color);
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        
        width: 80vw;
        z-index: 9999;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    }

    #nav-toggle {
        display: none;
    }

    #nav-toggle:checked ~ .nav-mobile-open{
        right: 0;
    }

    .nav-mobile-open {
        flex-direction: column;
        padding: 3rem 2rem;
        gap: 2rem;
        border-radius: 0 0 20px 20px;
        align-items: end;
        
    }

    .nav-mobile-open .nav-link {
        font-size: 2rem;
        display: flex;

    }

    .nav-mobile svg {
        width: 2rem;
        aspect-ratio: 1/1;
    }



}