@media (min-width:1367px) {
    #hero {
        height: 800px;
    }
}

@media (max-width: 750px) {
    #hero, .project-card-wrapper, .about, #contact {
        grid-template-columns: 1fr;
    }

    p {
        font-size: 14px;
    }

        h1,
        h2,
        h3 {
            line-height: 2rem;
        }
    
        p,
        a {
            font-size: 13px;
            line-height: 1rem;
        }

    .hero-txt h1:first-of-type {
        font-size: 32px;
    }

    .hero-txt h1:nth-of-type(2) {
        font-size: 28px;
    }

    .hero-left {
        order: 2;
    }

    .hero-right {
        justify-content: center;
        order: 1;
    }

    .container:first-of-type {
        padding: 80px 0 0;
    }

    footer {
        padding: 80px 1rem;
    }

}