@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
    scroll-behavior: smooth;
    --background-color: white;
    --text-color: black;
    --notification-color: black;
    --button-padding: 0.3rem 1rem ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s ease-in;
    font-family: 'Raleway';
}

p, a {
    line-height: 1.5rem;
    font-size: 1rem;
    text-decoration: none;
}

.container {
    padding: 80px 0 100px;
}

.main-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* button-link template */

.button-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.button-link {
    font-family: 'Raleway';
    color: white;
    background-color: #294122;
    padding: 0.5rem 2rem;
    border: 1px solid #294122;
    border-radius: 2px;
}

.button-link:hover {
    color: white;
    background-color: #3d7a2a;
    border: 1px solid #3d7a2a;
}

/* button-link template */


/* start welcome section */

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

.hero-txt h1:first-of-type {
    font-size: 3.25rem;
    margin: 1rem 0;
}

.hero-txt h1 {
    font-size: 2.25rem;
}

.hero-txt p {
    margin: 1rem 0;
}

.hero-right {
    display: flex;
    justify-content: end;
}

.hero-right img {
    width: 90%;
}  

/* end welcome section */


/* start about section */

#about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

#about h1, #about p:first-of-type, #about h2 {
    margin: 0 0 1rem;
}

.about-left {
    background-color: #ffffff;
    opacity: 0.8;
    background-image: linear-gradient(#294122 1px, transparent 1px), linear-gradient(to right, #294122 1px, #ffffff 1px);
    background-size: 23px 25px;
    background-position: center;
    z-index: -1;
}

.about-right {
    padding: 2rem 0;
}


/* end about section */


/* start portfolio section */

.portfolio-title {
    margin: 0 0 3rem;
}

.portfolio-card {
    display: grid;  
    grid-template-columns: 1fr 1fr;
    margin: 0 0 3rem;
    gap: 2rem;
}

.portfolio-img img {
    box-shadow: 0px 0px 3px 0px #294122;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.portfolio-txt p {
    margin: 0 0 1rem;
}

.portfolio-role {
    display: flex;
    gap: 0.5rem;
}

.portfolio-role p {
    margin: 0.5rem 0 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(59, 59, 59);
}

/* end project section */


/* start contact section */

footer {
    padding: 4rem 2rem;
    width: 100%;
    background-color: #294122;
}

#contact {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
}

#contact a {
    text-decoration: underline;
}

#contact a, #contact p {
    font-family: 'Roboto';
    color: white;
    margin: 1.5rem;
}

.column-1, .column-2, .column-3 {
    display: flex;
    flex-direction: column;
}

/* end contact section */

